In [17]:
import openpyxl
wb=openpyxl.load_workbook('Book1.xlsx')
sheet=wb.active()
sheet.column[1]

TypeError: 'Worksheet' object is not callable

In [8]:
import pandas as pd
df=pd.read_excel('Book1.xlsx')
df

  2015-04-05 00:00:00             13:34:02        Apples   73
0          2015-04-05             03:41:23      Cherries   85
1          2016-04-06             12:46:51         Pears   14
2          2016-04-08             08:59:42       Oranges   52
3          2016-04-10             02:07:00        Apples  152
4          2015-04-10  1900-01-04 00:00:00       Bananas   23
5          2015-04-10             02:40:46  Strawberries   98